<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    <!--.t1{-->
    <!--text-align:center;-->
    <!--}-->

</style>
<body>
<h1>这是这个电影的详细内容</h1>
<div class="t1">
    <ul>


        <li><h3>电影名称：</h3><span>{{res.title}}</span></li>

        <li><h3>演&nbsp&nbsp &nbsp&nbsp  员：</h3>{{res.actor}}</li>

        <li><h3>上映时间：</h3>{{res.logintime}}</li>

        <li><h3>电影类型：</h3>{{res.movie_type}}</li>

        <li><h3>电影时长：</h3>{{res.time}}</li>

        <li><h3>电影内容：</h3>{{res.content}}</li>



</div>

</body>
</html>